.todo-input {
  padding: 15px;
  outline: none;
  border: none;
  border: 1px solid #cecece;
  border-radius: 4px;
}

.todo-list {
  list-style-type: none;
  padding: 0;
  & > li {
    margin-bottom: 10px;
  }
}
